# OS
Thumbs.db
.DS_Store

# .NET build
bin/
obj/
.vs/

# IDE
.vscode/
.idea/

# Logs, cache, sessions
application/logs/
application/cache/
application/sessions/

# Secrets
appsettings.Development.json
.env
*.user
